<nav class="navbar navbar-expand-lg navbar-light bg-light navbar_spotify">
    <div class="container">

        <div class="row w-100">

            <div class="col-4 col-md-4 col-sm-4">
                <a class="navbar-brand"><img
                        src="https://image.flaticon.com/icons/svg/174/174872.svg">Spotify</a>
            </div>

            <div class="col-8 col-md-8 col-sm-8 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
                    <form class="form-inline w-100">
                        <input class="form-control mr-sm-2" type="search" (keyup.enter)="search($event.target.value)"
                            placeholder="Search" aria-label="Search">
                    </form>

                    <!-- dropdown bootstrap-->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="imagen" width="100" width="100">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="verInfo()">Ver Información</a>
                            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
                        </div>
                    </div>

                    <!--  <button (click)="informacionUsuario()" id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </button>-->
                </div>
            </div>


        </div>
    </div>

</nav>


<section class="content" *ngIf="albums && albumes">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">

                <!-- dropdown bootstrap valor softare-->
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Mostrar <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" (click)="vista = false"><i class="fas fa-list" style="margin-right:10px"></i>Lista</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="vista = true"><i class="fas fa-grip-horizontal" style="margin-right:10px"></i>Grid</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row list-songs" >
            <div *ngFor="let album of albums.items" [ngClass]="{'col-md-3 col-sm-6 col-12' : vista, 'col-md-12 col-12': !vista }">
                <div class="card card-main">
                    <div class="card-header">
                        <div class="col-i-left">
                            <i class="fas fa-play" (click)="reproducirAlbum(album)"></i>
                            <i class="fas fa-heart" (click)="agregarAlbumFavoritos(album)"></i>
                        </div>
                        <div class="col-i-right">

                            <div class="btn-group" dropdown>
                                <button id="button-basic" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class="fas fa-cog"></i> <span class="caret"></span>
                                </button>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-basic">
                                    <li role="menuitem"><a class="dropdown-item" (click)="album.ocultar = true">Ocultar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <img [src]="album.images[0].url"
                        class="card-img-top" [alt]="album.name" (click)="informacionAlbum(album)">
                    <div class="card-body">
                        <h5 class="card-title">Album: {{album.name}}</h5>
                        <p class="card-text">Artista: {{album.artists[0].name}}</p>
                        <!-- <p class="text-muted">Tracks: {{album.total_tracks}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <router-outlet></router-outlet>-->
</section>

<section class="details" *ngIf="!albumes">
    <div class="container">


        <div class="row">
            <div class="col-md-12 text-left back"  (click)="albumes = true">
                <i class="fas fa-arrow-left"></i>Atrás
            </div>
            <div class="col-md-4">
                <div class="prev-album">
                    <img [src]="albumProceso?.images[0].url"
                        class="card-img-top" [alt]="albumProceso?.name">
                    <i class="fas fa-heart" (click)="reproducirAlbum(albumProceso)"></i>
                    <i class="fas fa-play" (click)="agregarAlbumFavoritos(albumProceso)"></i>
                </div>
            </div>

            <div class="col-md-8">
                <div class="box-track" *ngFor="let track of tracksAlbum?.items">
                    <div class="action">
                        <i class="fas fa-play" (click)="reproducirTrack(track)"></i>
                        <img [src]="albumProceso?.images[0].url"
                            class="card-img-top" [alt]="track.name">

                    </div>
                    <div class="info">
                        <div class="title"><strong>Title: </strong>{{track.name}}</div>
                        <!-- <div class="date"><strong>Date:</strong>track.</div> -->
                    </div>
                    <div class="time">
                        {{calcularTiempo(track.duration_ms)}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>